body {
    font-family: Cormorant,serif;
    padding: 0;
    margin: 0;
    
}

h1{
    display: inline-block;
    font-weight: 650;
    margin: 0 12px 0 0 ;

}
.logo{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo img{
    max-width: 100%;
    height: auto;
    margin: 0 ;
    padding: 0 ;
    width: 100px;
    transform: translate(20px, 13px);
    display: inline-block;
    
    
}
h1.slogan{
    display: inline-block;
    font-weight: 650;
    margin: 0 ;
    font-size: 17px;
    width: 200px;
    
}
.Links{
    display: inline-block;
}
.Links li{
    display: inline-block;
}
.Links a{
color: black;
margin: 0 8px;
text-decoration: none;
font-weight: bold;
}
.navbar{
    margin: 32px;
    background-color: white;
}
.navbarHome{
    margin:0 32px 32px 32px;
    background-color: white;
}
.Links ul{
    padding: 0;
}
a.active{
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.Gallery{
    padding: 16px;
}
.card{
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
}
.card img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.card h2{
    font-weight: 300;
    margin: 8px 0 16px 0;
}
.about{
    width: 40%;
    margin: 100px 0 100px 200px;
    min-width: 600px;
}
.about h3{
    font-weight: 300;
    font-size: 40px;
    
}

.cta{
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 0;
    
}
.card img:hover{
    opacity: 0.8;
}
.box p{margin: 0;
    font-size: 75px;}
.box{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px;    
}
.box h1,.box h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 80px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;

}
.box img{
     width: 100vw;
    height: 500px;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
    filter: brightness(60%);
    
}

.button, .button2{
    text-align: center;
}
.button-link {
    display: inline-block;
    padding: 50px 100px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 45px;
    text-align: center;
    margin-top: 80px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.button-link:hover {
    background-color: #57ce08ef;
}
.button-link2{
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
}
table{
    width: 400px;
    text-align: center;
}
.tables{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: -170px auto 0 auto;
}
th{
    text-align: center;
    background-color: #ddd;

}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    
}
th,td{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
footer{
    background-color: #111;
    padding-bottom: 0px;
}
.foot{
    width: 100%;
    padding-bottom: 0px;
    text-align: center;
    
}
.footerNav p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
h2.details{
    justify-content: center;
    text-align: center;
    font-size: 40px;
}
.inputs{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cpa{
    margin-top: 50px;
    text-align: center;
    font-weight: 750;
}
label{
    font-size: 25px;
    font-weight: 590;
    word-spacing: 5px;
    margin-right: 5px;
}
label.notif{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

input{
    outline: none;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.588) ;
    height: 35px;
}


input::placeholder{
    font-size: 16px;
    
}
input:focus,
input:valid{
    
    border: 2.1px solid #66ff00;
    
}
input:focus::placeholder{
    color: #66ff00;   
}
.Avail{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.Avail h2{
    text-align: center;
    color: black;
    font-size: 50px;
    font-family:"Open Sans", sans-serif;
    font-weight: bold;
}
h2.availAcom{
    color: green;
}
